h3 {
    color: #B86300;
};

main {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
}

.semifooter {
    background-color: #f3f3f3;
    padding: 1em;
}

.upperlist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1em;
}

.list {
    margin:1em;
}


.buttoncenter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.innertext {
    margin: 1em;
}

.parent {
    display: flex;
    flex-direction: row;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-bottom: 3%;
    justify-content: center;
    animation: mover_backwards 1s ease;
}


.rev {
    flex-direction: row-reverse;
    text-align: right;
    animation: mover_backwards_reverse 1s ease;
}

.child1, .topchild, .imagesort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child1 {
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.35);
    padding: 2em;
}


.shadowr {
    box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.35);
}

.topchild {
    width: 40vw;
}

.c2 {
    flex-direction: row;
    position: relative;
}

.main {
    width: 25vw;
    height: auto;
    align-self: center;
}

.containedimage {
    object-fit: contain;
    max-width: calc(100%);
    max-height: calc(100%);
}

.extra1h {
    display: flex;
    justify-content: center;
    position: absolute;
    top: calc(57%);
    bottom: 1%;
    left: calc(40%);
    right: 0;
}

.extra2h {
    display: flex;
    flex-direction:column-reverse;
    position: absolute;
    top: -133%;
    bottom: calc(90%);
    left: -66%;
    right: 0;
}

.extra1g {
    display: flex;
    justify-content: center;
    margin:5px;
    position: absolute;
    top: calc(40%);
    bottom: 0;
    left: calc(20%);
    right: calc(20%);
}

.extra2g {
    display: flex;
    position: absolute;
    top: -70%;
    bottom: 40%;
    left: calc(50%);
    right: -30%;
}

.extra1s {
    display: flex;
    justify-content: left;
    position: absolute;
    margin:5px;
    top: calc(5%);
    bottom: calc(5%);
    left: calc(5%);
    right: calc(5%);
}


.extra1e {
    display: flex;
    justify-content: right;
    vertical-align: bottom;
    margin:5px;
    position: absolute;
    top: 0;
    bottom: calc(15%);
    left: 0;
    right: calc(55%);
}

.extra2e {
    display: flex;
    justify-content: left;
    position: absolute;
    top: calc(55%);
    bottom: -19%;
    left: calc(90%);
    right: -110%;
}

@keyframes mover_backwards {
    0%{transform: translateX(50vw) scale(0);}
    100%{transform: translateX(0px) scale(1);}
}

@keyframes mover_backwards_reverse {
    0%{transform: translateX(-50vw) scale(0);}
    100%{transform: translateX(0px) scale(1);}
}

@media (max-width: 768px) {
    .parent {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .topchild {
        width: 90vw;
        height: auto;
    }
    
    .imagesort {
        flex-direction: row;
    }

    .irev {
        flex-direction: row-reverse;
    }
    
    .c2 {
        display: none;
    }

    .main {
        width: 30vw;
        height: auto;
    }
}

@media screen and (max-width: 414px) {
    p {
        order: 2;
    }

    img {
        order: 1;
    }

    .upperlist{
        flex-direction: column;
    }

    .list {
        margin: 0;
    }

    .parent {
        padding-right: 0vw;
        padding-left: 0vw;
    }

    .topchild {
        width: 100vw;
        height: auto;
        padding: 1em;
    }

    .c2 {
        display: none;
    }

    .child1 {        
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.35);
        padding: 0;
        text-align: center;
    }
    
    .imagesort {
        flex-direction: column;
    }

    .main {
        align-self: center;
        width: 30vw;
        height: auto;
    }
}