* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
FUENTES:
Cincel: nombre de hotel en nav y subtitulo de la pagina (se encuentra debajo del banner o hero)
Scheherazade New: titulo de la pagina (se encuentra en el banner o hero), titulos de secciones y footer
Sarabun: parrafos y botones
*/

/* 
font-family: 'Cinzel', serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Scheherazade New', serif;
*/