@import "./carrousel.css";
@import "./style.css";

.nparent {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.ndivgeneral {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.nchild {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    height: 50vh;
}

.nchild p {
    text-align: center;
    font-family: 'Sarabun', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.extra {
    width: 35%;
}

.auto {
    height: auto;
}

.imagecont {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.xtra {
    width: 60%;
    height: 100%
}

.x2 {
    width: 40%;
    height: 100%;
}

.xtra2 {
    height: 100%;
}

.buttoncenter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-banner {
    background-image: url(/assets/img/galeria/pexels-anastasiya-vragova-6662510.jpg);
}

.nimg {
    object-fit: contain;
    max-width: calc(100%);
    max-height: calc(100%);
    border-radius: 1em;
    border: 1px solid #FFCC4D;
}

.opiniones {
    display: flex;
    flex-wrap: wrap;
    max-height: 40vh;
    overflow: scroll;
    justify-content: space-around;
}

.opinioninfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    border: 1px solid #FFCC4D;
    padding: 1em;
    margin: 2px;
}

.nombre {
    font-family: 'Scheherazade New', 'Times New Roman', Times, serif;
}

.opinion {
    font-family: 'Sarabun', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hide {
    display: none;
}

@media only screen and (min-width:768px){
    .starcontainer {
        display: flex;
        justify-content: center;
    }
    .hide {
        display: flex;
    }
}

/* DESKTOP */
@media only screen and (min-width:1024px) { /* big landscape tablets, laptops, and desktops */
    .ndivgeneral {
        width: 70vw;
    }
    .opiniones {
        max-height: 60vh;
        overflow: auto;
    }
    .opinioninfo {
        width: 24%;
        height: 48%;
    }
}