@import "./carrousel.css";
@import "./style.css";

.nparent {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.bblue {
    border: 1px solid blue;
}

.bgreen {
    border: 1px solid green;
}

.ndivgeneral {
    display: flex;
    width: 70vw;
    justify-content: center;
    padding: 1em;
}

.nchild {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    height: 50vh;
}

.nchild p {
    font-family: 'Sarabun', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.extra {
    width: 35%;
}

.auto {
    height: auto;
}

.imagecont {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.xtra {
    width: 60%;
    height: 100%
}

.x2 {
    width: 40%;
    height: 100%;
}

.xtra2 {
    height: 100%;
}

.buttoncenter {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-banner {
    background-image: url(/assets/img/galeria/pexels-anastasiya-vragova-6662510.jpg);
}

.nimg {
    object-fit: contain;
    max-width: calc(100%);
    max-height: calc(100%);
    border-radius: 1em;
    border: 1px solid #FFCC4D;
}

@media only screen and (min-width:768px){
}

/* DESKTOP */
@media only screen and (min-width:1024px) { /* big landscape tablets, laptops, and desktops */
}