@import './style.css';
/* font-family: 'Cinzel', serif;
          font-family: 'Sarabun', sans-serif;
          font-family: 'Scheherazade New', serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  --golden: #ffcc4d;
  --white: #fff;
  --black: #000;
}
main,
body,
html {
  height: 100%;
}

/* .nav-container {
  background: transparent;
} */

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('../img/home/hero-image.jpg');

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-family: 'Cinzel', serif;
}

.hero-title {
  font-weight: normal;
  /* text-align: justify; */
  padding: 1em 0;
}

.hero-span {
  font-weight: 800;
}
.hero-subtitle {
  font-family: 'Sarabun', sans-serif;
  color: var(--white);
}
.hero-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: var(--black);
  background-color: var(--golden);
  text-align: center;
  cursor: pointer;
  font-family: 'Sarabun', sans-serif;
  font-weight: bold;
  margin: 2em 0;
}

.hero-button:hover {
  background-color: #ffab23;
  color: var(--white);
}

.hero-button:active {
  position: relative;
  top: 2px;
}

/* MEDIA-QUERY */

/* TABLET */
@media only screen and (min-width: 768px) {
}

/* DESKTOP - big landscape tablets, laptops, and desktops */
@media only screen and (min-width: 1024px) {
  .hero-text {
    text-align: justify;
    top: 25%;
    left: 12%;
    transform: translate(0%, 0%);
  }

  .hero-title {
    font-size: 2.5rem;
    padding: .5em 0;
  }

  .hero-span {
    font-size: 3.2rem;
  }
  .hero-subtitle {
    margin: 5% 0 10% 0;
  }

  .hero-button {
    padding: 20px 50px;
    margin: 0;
  }
}
