* {
  box-sizing: border-box;
  margin: 0;
  --golden: #ffcc4d;
  --brown: #221515;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  font-family: 'Scheherazade New', serif;
}

header {
  background: blue;
  position: sticky;
  top: 0;
}

main {
  flex: 1;
}

footer {
  background: red;
  position: sticky;
  margin-top: auto;
  bottom: 0;
  background: var(--brown);
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-left {
  /* background: blue; */
}

.footer-right {
  /* background: red;*/
}

/* footer div {
  padding: 10px;
} */

ul {
  list-style-type: none;
}

.footer-left-ul a {
  all: unset;
}

.footer-mail {
  color: var(--golden);
}

h4 {
  font-weight: normal;
}

subir > a:link,
a:visited {
  color: #ffcc4d;
}
.svg-email {
  translate: -3px 5px;
}

.email {
  color: #ffcc4d;
}

.svg-phone {
  translate: -3px 5px;
}
.social-icons img {
  margin: 0 6px;
  position: relative;
  right: 35px;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-flow: row nowrap;
  }

  .footer-left {
    margin-top: 0.3%;
    flex: 1 0 50%;
    /* border-right: 1px solid gray; */
  }

  .footer-left-ul {
    margin-top: 0.9%;
  }

  .footer-right {
    flex: 1 0 50%;
    text-align: right;
    padding: 0.5% 8%;
  }

  .footer-right h4 {
    margin-bottom: 2%;
  }

  .social-icons {
    margin-right: -46px;
  }

  .vertical-line {
    border-left: 2px solid gray;
    height: 155px;
    margin: 1.2% 0 2.5% 0;
  }

  .footer-left h4 {
    padding-left: 5%;
  }

  .subir {
    text-decoration: underline;
    color: #ffcc4d;
    padding: 9.5% 0 0 45%;
  }
}

@media screen and (max-width: 480px) {
  .footer-left {
    text-align: justify;
  }
  .footer-left h4 {
    text-align: center;
  }
  .footer-right {
    border-top: 1px solid gray;
    background: blue;
    text-align: center;
  }

  .footer-left-address {
  }

  .footer-right h4 {
    display: none;
  }

  .social-icons * {
    /* margin: 0 2%; */
  }

  .subir {
    display: none;
  }
}
