* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  --golden: #ffcc4d;
  --brown: #221515;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #222;
  color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  font-family: 'Scheherazade New', serif;
}

header {
  background: blue;
  position: sticky;
  top: 0;
}

main {
  flex: 1;
}
/* Empieza footer, lo de arriba volarlo si unimos nav-index-footer. Ver si dejamos colores como custom properties(variables) */
.footer-container {
  background: var(--brown);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* margin: 1 rem; */
}

.footer-left {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2%;

  /* background: blue; */
}

.separator {
  border-bottom: 2px solid gray;
  width: 80%;
  margin: 3% 0;
}

.footer-right {
  /* background: red; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 2%;
}

.social-icons {
  padding-top: 3%;
}

.subir {
  display: none;
}

/* subir > a:link,
a:visited {
  color: #ffcc4d;
} */
.svg-email {
  translate: -3px 5px;
}

.email {
  color: #ffcc4d;
}

.svg-phone {
  translate: -3px 5px;
}

.footer-left-ul a {
  all: unset;
}

h4 {
  font-weight: normal;
}

/* MEDIA-QUERY */
/* TABLET */

@media only screen and (min-width: 768px) {
}
/* DESKTOP - big landscape tablets, laptops, and desktops */
@media only screen and (min-width: 1024px) {
  .footer-container {
    flex-flow: row nowrap;
    overflow: hidden;
    /* justify-content: space-around; */
    /* align-items: center; */
  }

  .footer-right {
    /* background: red; */
    flex: 1 0 50%;
    align-items: center;
    align-self: start;
    margin-top: 2%;
    padding-left: 8%;
  }
  .footer-left {
    flex: 1 0 50%;
    align-items: center;
    align-self: start;
    margin-top: 2%;
  }

  .footer-left-title h4 {
    margin-left: -70%;
  }

  .subir {
    display: block;
    text-decoration: underline;
    color: var(--golden);
    padding: 3.5% 0 0 2%;
    position: absolute;
  }
  .separator {
    /* border-bottom: 0; */
    border-left: 2px solid gray;
    height: 8rem;
  }

  .social-icons {
    padding: 1.5% 0 0 5%;
  }

  .social-icons img {
    margin: 0 3px;
  }
}
