* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* 
FUENTES:
Cinzel: nombre de hotel en nav y subtitulo de la pagina (se encuentra debajo del banner o hero)
Scheherazade New: titulo de la pagina (se encuentra en el banner o hero), titulos de secciones y footer
Sarabun: parrafos y botones
*/

/*  CSS
font-family: 'Cinzel', serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Scheherazade New', serif;
*/

/* BODY */
/* body {
  background: aquamarine;
} */

body p {
  font-family: 'Sarabun', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.8rem
}

header {
  position: sticky;
  top: 0;
}

/* NAVBAR */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  padding: 1em;
  z-index: 1;
  box-shadow: 0px -1px 56px -16px rgba(0,0,0,0.61);
  -webkit-box-shadow: 0px -1px 56px -16px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px -1px 56px -16px rgba(0,0,0,0.61);
}

.logo-brandname-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.logo {
  width: 3rem;
}

/* hides brandname on mobile */
.brand-container {
  display: none;
}

/* mobile right side navigation links */
.nav-links-container{
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: #f3f3f3;
  z-index: 999;
  text-transform: uppercase;
  /* text-align: right; */
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}

.nav-links-container ul {
  font-weight: bold;
  list-style: none;
  margin-top: 6em;
}

.nav-links-container ul li a{
  color: #B86300;
  padding: 1em 1.5em;
  display: block;
  text-decoration: none;
  font-family: 'Sarabun', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links-container ul li a:hover{
  background: #221515;

}

/* hamburger menu icon */
.hamburger-menu {
  width: 3rem;
  cursor: pointer;
}

.close-button {
  float: right;
  margin: 1.5em;
  width: 3rem;
  cursor: pointer;
}

.open-nav {
  transform: translateX(0%);
}

/* HERO BANNER */
.hero-banner {
  max-width: 100vw;
  height: 50vh;
  /* background-image: url(/assets/img/servicios/pexels-cottonbro-6466283.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.brand-container {
  font-family: 'Cinzel', Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
}
.black-link{
  color: #000;
}

.button {
  display: inline-block;
  padding: .7em 2.9em;
  background: #FFCC4D;
  border-radius: .3em;
  text-transform: uppercase;
  font-family: 'Sarabun', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero{
  bottom: 2em;
  margin: 2em;
}

.hero-title h2{
  font-family: 'Scheherazade New', 'Times New Roman', Times, serif;
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
}
.white {
  color: #fff;
}

.section-title {
  font-family: 'Cinzel', Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding-bottom: 7em;
}

.section-title hr {
  width: 70vw;
  margin: auto;
  border-top: 1px solid #000;
  border-bottom: none;
}

h1 {
  padding: 1.5em 0;
}

h3 {
  font-size: 1.2rem;
}

* {

  --golden: #ffcc4d;
  --brown: #221515;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

/* header {
  background: blue;
  position: sticky;
  top: 0;
} */

/* main {
  flex: 1;
} */

/* Empieza footer, lo de arriba volarlo si unimos nav-index-footer. Ver si dejamos colores como custom properties(variables) */
.footer-container {
  background: var(--brown);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #222;
  color: var(--white);
  font-family: 'Scheherazade New', serif;
  /* margin: 1 rem; */
}

.footer-left {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2%;

  /* background: blue; */
}

.separator {
  border-bottom: 2px solid gray;
  width: 80%;
  margin: 3% 0;
}

.footer-right {
  /* background: red; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 2%;
}

.social-icons {
  padding-top: 3%;
}

.subir {
  display: none;
}

/* subir > a:link,
a:visited {
  color: #ffcc4d;
} */

.svg-email {
  translate: -3px 5px;
}

.email {
  color: #ffcc4d;
}

.svg-phone {
  translate: -3px 5px;
}

.footer-left-ul a {
  all: unset;
}

h4 {
  font-weight: normal;
}

/* MEDIA-QUERY */

/* ANIMACIONES */

@keyframes mover_backwards {
  0%{transform: translateX(50vw) scale(1);}
  100%{transform: translateX(0px) scale(1);}
}

@keyframes mover_backwards_reverse {
  0%{transform: translateX(-50vw) scale(1);}
  100%{transform: translateX(0px) scale(1);}
}

/* TABLET */
@media only screen and (min-width:768px){

  
     /* displays brandname on tablet and desktop */
     .brand-container {
      display: initial;
     }

     .nav-container {
      padding: 1em;
    }
  
}

/* DESKTOP */
@media only screen and (min-width:1024px) { /* big landscape tablets, laptops, and desktops */ 

  .nav-container {
    padding: 1em 4em;
  }
 
  .nav-links-container{
    position: unset;
    /* display: block; */
    width: auto;
    height: auto;
    background: none;
    transform: translateX(0);
    transition: none;
  }


  .nav-links-container ul {
    display: flex;
    margin: 0;
  }

  .nav-links-container ul li a:hover{
    background-color: unset;
    color: #221515;
    text-decoration: underline;
  }
  .hamburger-menu , .close-button {
    display: none;
  }
  .nav-links-container ul li a{
    padding: .8em 1.5em;
    font-size: .9rem;
  }
  .footer-container {
    flex-flow: row nowrap;
    /* justify-content: space-around; */
    /* align-items: center; */
  }

  .footer-right {
    /* background: red; */
    flex: 1 0 50%;
    align-items: center;
    align-self: start;
    margin-top: 2%;
    padding-left: 8%;
  }
  .footer-left {
    flex: 1 0 50%;
    align-items: center;
    align-self: start;
    margin-top: 2%;
  }

  .footer-left-title h4 {
    margin-left: -70%;
  }

  .subir {
    display: block;
    text-decoration: underline;
    color: var(--golden);
    padding: 3.5% 0 0 2%;
    position: absolute;
  }

  .separator {
    /* border-bottom: 0; */
    border-left: 2px solid gray;
    height: 8rem;
  }

  .social-icons {
    padding: 1.5% 0 0 5%;
  }

  .social-icons img {
    margin: 0 3px;
  }

}